  [build]
  command = "next build"
  publish = ".next"

  [[redirects]]
  from = "https://ensoliving.ro/*"
  to = "https://enso.ro/:splat"
  status = 301
  force = true

[build.environment]
  NODE_VERSION = "20"
  NEXT_PRIVATE_BUILD_WORKER = "1"

[[headers]]
  for = "/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "*.css"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"
    
[[headers]]
  for = "*.js"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
for = "/*"
  [headers.values]
  Strict-Transport-Security = "max-age=63072000; includeSubDomains; preload"
