@reference "tailwindcss";
.hero {
    @apply w-full h-[810rem] relative z-0;
    @media screen and (width >= 640px) {
        @apply h-[1067rem];
    }
}

.title {
    @apply text-white text-[66rem] uppercase font-normal w-auto leading-[91%] absolute top-[114rem] left-[18rem] z-2 translate-x-0 flex flex-col;
    letter-spacing: -2.4rem;
    @media screen and (width >= 640px) {
        @apply text-[160rem] top-[168rem] left-[248rem] leading-[92%] z-1 tracking-tighter;
    }
}
.hero__text_decor {
    @apply text-[18rem] text-white/60 leading-[120%] absolute top-[123rem] right-[23rem] translate-0 z-3;
    letter-spacing: 0.2rem;
    @media screen and (width >= 640px) {
        @apply text-[60rem] top-[612rem] right-[968rem];
        letter-spacing: normal;
    }
}
.text__building_high {
    @apply text-[10rem] text-white font-normal leading-[120%] absolute top-[338rem] left-[62rem] translate-0 z-3;
    @media screen and (width >= 640px) {
        @apply text-[18rem] top-[180rem] left-[1496rem];
    }
}
.text__building_low {
    @apply text-[10rem] text-white font-normal leading-[120%] absolute top-[507rem] left-[26rem] translate-0 z-3;
    @media screen and (width >= 640px) {
        @apply text-[18rem] top-[600rem] left-[1662rem] text-justify;
    }
}
.text__building_middle {
    @apply text-[10rem] text-white font-normal leading-[120%] absolute top-[404rem] right-[24rem] translate-0 z-3 text-center;
    @media screen and (width >= 640px) {
        @apply text-[18rem] top-[400rem] right-[350rem] text-left;
    }
}
.hero__btn {
    @apply w-[362rem] h-[68rem] text-white text-[18rem] leading-[127%] flex justify-end items-center gap-[14rem] relative top-[684rem] left-1/2 -translate-1/2 z-3 overflow-hidden rounded-full pr-[6rem] hover:cursor-pointer tracking-[0.2rem];
    background: linear-gradient(90deg,rgba(78, 78, 100, 0.9) 0%, rgba(177, 119, 98, 0.9) 80%);
    .span__blur {
        @apply absolute top-0 left-0 z-4 inset-0 backdrop-blur-[1rem];
    }
    .span__text {
        @apply text-end relative z-5;
    }
    @media screen and (width >= 640px) {
        @apply w-[462rem] h-[86rem] text-[26rem] top-[848rem] gap-[24rem] pr-[10rem];
    }
}