@reference "tailwindcss";

.header {
    @apply w-full h-auto absolute top-0 left-0 translate-0 z-1;
}
.inner {
    @apply w-full flex justify-between pt-[27rem] px-[23rem];
    @media screen and (width >= 640px) {
        @apply w-[1444rem] mx-auto p-0 pt-[50rem];
    }
}
.logo {
    @apply w-[117rem] h-[44rem] bg-[#D9D9D9]/20 rounded-full flex justify-center items-center;
    @media screen and (width >= 640px) {
        @apply w-[120rem] h-[45rem];
    }
}
.header__phone {
    @apply w-[45rem] h-[45rem] sm:w-[200rem] bg-[#d9d9d9]/20 rounded-full inline-flex justify-center items-center text-[0rem] sm:text-[18rem] text-white relative z-0;
}