@import "tailwindcss";
@import "tw-animate-css";

:root {
  --app-height: 100vh;
}

html {
  @apply w-full h-full relative;
  scroll-behavior: smooth;

  font-size: calc(100vw / (430 * 1));

  @media screen and (min-width: 640px) {
    font-size: calc(100vw / (1920 * 1));
  }
}
body {
  @apply w-full min-h-full relative mx-auto p-0 m-0 overflow-x-hidden;

  @supports (height: 100dvh) {
    :root {
      --app-height: 100dvh;
    }
  }
}

.react-international-phone-country-selector-button__dropdown-arrow {
  @apply hidden;
}
.react-international-phone-country-selector-button {
 @apply w-[40rem] h-[50rem];
  @media screen and (width >= 640px) {
    @apply w-[50rem] h-[52rem];
  }
}
.react-international-phone-input {
  background: #FAF9F8 !important;
  @media screen and (width >= 640px) {
    padding-left: 10rem !important;
  }
}
.react-international-phone-country-selector-button{
    height: 60rem !important;
    width: 30rem !important;
  @media screen and (width >= 640px) {
    height: 62rem !important;
    width: 40rem !important;
  }
}
.react-international-phone-flag-emoji {
  width: 20rem !important;
    height: 15rem !important;
  @media screen and (width >= 640px) {
    width: 50rem !important;
    height: 20rem !important;
  }
}
.react-international-phone-input-container .react-international-phone-input {
    @media screen and (width >= 640px) {
    font-size: 18rem !important;
  }
}
.react-international-phone-country-selector .react-international-phone-country-selector-dropdown {
  height: 20dvh;
}
