@reference "tailwindcss";

.premium {
    @apply block w-full h-auto relative z-0 sm:hidden;
    background: linear-gradient(180deg,rgba(177, 119, 98, 1) 0%, rgba(78, 78, 100, 1) 100%);
}
.premium__inner_image {
    @apply w-full h-[894rem] relative z-1 overflow-hidden;
}
.premium__inner_content {
    @apply px-[25rem];
}
.title {
    @apply w-full flex flex-col relative z-1 text-[30rem] text-white leading-[100%] mt-[78rem] pb-[26rem];
    letter-spacing: -0.04em;
}
.description {
    @apply w-full flex flex-col relative z-1 text-[12rem] text-white leading-[124%] mt-[18rem];
}
.inner__logo {
    @apply w-[170rem] h-[220rem] relative top-[82rem] left-1/2 -translate-x-1/2 z-1;
}
.bottom__text_title {
    @apply relative z-1 text-[30rem] text-black leading-[100%] mt-[236rem];
    letter-spacing: -1.4rem;
}
.bottom__text_subtitle {
    @apply relative z-auto  text-[12rem] text-black leading-[120%] mt-[10rem] pr-[15rem] text-left flex justify-end;
}
.light__circle_bottom {
    @apply absolute rounded-full bottom-[-53%] left-1/2 -translate-x-1/2 w-[700rem] h-[650rem] z-0;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 1) 100%);
    filter: blur(140rem);
}