@reference "tailwindcss";

.thanks_overflow {
  @apply w-full min-h-dvh h-dvh relative top-0 left-0 z-0 flex flex-col before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-[url('/exfm/exfm-thanks-bg-mobile.avif')] before:bg-cover before:bg-center before:bg-no-repeat;

  @media screen and (width >= 640px) {
    @apply w-full relative top-0 left-0 z-0 flex flex-col before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:min-h-dvh before:bg-[url('/exfm/exfm-thanks-bg.avif')] before:bg-cover before:bg-center before:bg-no-repeat;
  }
}

.thanks {
  @apply w-full h-full relative top-0 left-0 z-0 flex flex-col justify-between;

}
.header {
    @apply w-full h-auto absolute top-0 left-0 z-2;
}
.header__inner {
    @apply w-full flex justify-between pt-[27rem] px-[25rem];
    @media screen and (width >= 640px) {
        @apply w-[1440rem] mx-auto p-0 pt-[50rem];
    }
}
.header__logo {
    @apply w-[118rem] h-[47rem] sm:w-auto sm:h-auto  bg-[#D9D9D9]/20 inline-flex justify-center items-center rounded-full relative z-1 sm:bg-transparent;
}
.footer {
    @apply w-full h-auto bg-[#645762] p-0 m-0;
}
.footer__inner {
    @apply flex flex-col gap-[58rem] px-[25rem] py-[85rem];
    @media screen and (width >= 640px) {
        @apply w-[1440rem] px-0 mx-auto py-[78rem];
    }
}
.footer__content {
    @apply flex justify-between;
}
.socials__link {
    @apply flex items-center gap-[14rem] relative z-0;
    @media screen and (width >= 640px) {
        @apply gap-[30rem];
    }
}
.content__text {
    @apply text-[10rem] text-white/60 leading-[100%];
    letter-spacing: 0.2rem;
    @media screen and (width >= 640px) {
        @apply text-[16rem];
        letter-spacing: 0rem;
    }
}
.content__links {
    @apply flex justify-between text-[10rem] text-white/60 leading-[100%] underline;
    letter-spacing: 0.4rem;
    @media screen and (width >= 640px) {
        @apply text-[16rem] mt-[14rem];
        text-decoration: none;
        letter-spacing: 0rem;
    }
}
.thanks__header_phone {
    @apply w-[45rem] h-[45rem] sm:w-[200rem] bg-[#d9d9d9]/20 rounded-full inline-flex justify-center items-center text-[0rem] sm:text-[18rem] relative z-0 text-white;
}
.thanks__footer_phone {
    @apply inline-block w-[22rem] h-[24rem] sm:w-[42rem] sm:h-[45rem];
}
